.display{
    text-align: flex;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    border-collapse: collapse;
}
.display{
    text-align: flex;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    border-collapse: collapse;
}
.display{
    text-align: flex;
    gap: 10px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    border-collapse: collapse;
}
.www{
    border-collapse: collapse;
}
